<div class="navbar-item has-dropdown is-hoverable">
 {{#with (resolvePage 'buddies::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Nodes Buddy System</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'buddies::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">Buddy system</a>{{/with}}
    {{#with (resolvePage 'buddies::buddy-activities.adoc')}}<a class="navbar-item" href="{{relativize url}}">Buddy activities</a>{{/with}}
    {{#with (resolvePage 'buddies::buddy-groups.adoc')}}<a class="navbar-item" href="{{relativize url}}">Buddy groups</a>{{/with}}
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
 {{#with (resolvePage 'gnt::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Global Nodes Training</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'gnt::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">2023 training</a>{{/with}}
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
 {{#with (resolvePage 'gnm::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Global Nodes Meeting</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'gnm::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">2023 meeting</a>{{/with}}
    {{#with (resolvePage 'gnm::capacity-development-programmes.adoc')}}<a class="navbar-item" href="{{relativize url}}">Capacity development programmes</a>{{/with}}
    {{#with (resolvePage 'gnm::regional-communities-of-practice.adoc')}}<a class="navbar-item" href="{{relativize url}}">Regional communities of practice</a>{{/with}}
    {{#with (resolvePage 'gnm::data-model.adoc')}}<a class="navbar-item" href="{{relativize url}}">Data model</a>{{/with}}
    {{#with (resolvePage 'gnm::regional-support-teams.adoc')}}<a class="navbar-item" href="{{relativize url}}">Regional support teams</a>{{/with}}   
  </div>
</div>
