<div class="navbar-item has-dropdown is-hoverable">
 {{#with (resolvePage 'buddies::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Nodes Buddy System</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'buddies::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">Buddy system</a>{{/with}}
    {{#with (resolvePage 'buddies::buddy-activities.adoc')}}<a class="navbar-item" href="{{relativize url}}">Buddy activities</a>{{/with}}
    {{#with (resolvePage 'buddies::buddy-groups.adoc')}}<a class="navbar-item" href="{{relativize url}}">Buddy groups</a>{{/with}}
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
 {{#with (resolvePage 'gnt::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Global Nodes Training</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'gnt::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">2023 training</a>{{/with}}
    {{#with (resolvePage 'gnt::sharingexperience.adoc')}}<a class="navbar-item" href="{{relativize url}}">Sharing experience</a>{{/with}}      
    {{#with (resolvePage 'gnt::pre-training-survey.adoc')}}<a class="navbar-item" href="{{relativize url}}">Pre-training questionnaire</a>{{/with}}   
    {{#with (resolvePage 'gnt::gnt2023-agenda.adoc')}}<a class="navbar-item" href="{{relativize url}}">Agenda</a>{{/with}}
    {{#with (resolvePage 'gnt::downloads.adoc')}}<a class="navbar-item" href="{{relativize url}}">Files for download</a>{{/with}}
    {{#with (resolvePage 'gnt::photo-album.adoc')}}<a class="navbar-item" href="{{relativize url}}">Photo album</a>{{/with}}   
    {{#with (resolvePage 'gnt::research-communities.adoc')}}<a class="navbar-item" href="{{relativize url}}">Engaging research communities for data mobilization and use</a>{{/with}}
    {{#with (resolvePage 'gnt::collections-communities.adoc')}}<a class="navbar-item" href="{{relativize url}}">Strengthening support services for collections communities</a>{{/with}}
    {{#with (resolvePage 'gnt::biodiversity-commitments.adoc')}}<a class="navbar-item" href="{{relativize url}}">Supporting national biodiversity commitments and the science-policy interface</a>{{/with}}
    {{#with (resolvePage 'gnt::business-sector.adoc')}}<a class="navbar-item" href="{{relativize url}}">Promoting open biodiversity data approaches within the business sector</a>{{/with}}
    {{#with (resolvePage 'gnt::course-evaluation.adoc')}}<a class="navbar-item" href="{{relativize url}}">Course evaluation</a>{{/with}}
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
 {{#with (resolvePage 'gnm::index.adoc')}}<a class="navbar-link" href="{{relativize url}}">Global Nodes Meeting</a>{{/with}}
  <div class="navbar-dropdown">
    {{#with (resolvePage 'gnm::index.adoc')}}<a class="navbar-item" href="{{relativize url}}">2023 meeting</a>{{/with}}
    {{#with (resolvePage 'gnm::sharingexperience.adoc')}}<a class="navbar-item" href="{{relativize url}}">Sharing experience</a>{{/with}}    
    {{#with (resolvePage 'gnm::welcome.adoc')}}<a class="navbar-item" href="{{relativize url}}">Welcome</a>{{/with}}   
    {{#with (resolvePage 'gnm::gnm2023-agenda.adoc')}}<a class="navbar-item" href="{{relativize url}}">Agenda</a>{{/with}}
    {{#with (resolvePage 'gnm::photo-album.adoc')}}<a class="navbar-item" href="{{relativize url}}">Photo album</a>{{/with}}   
    {{#with (resolvePage 'gnm::capacity-development-programmes.adoc')}}<a class="navbar-item" href="{{relativize url}}">Capacity development programmes</a>{{/with}}
    {{#with (resolvePage 'gnm::regional-communities-of-practice.adoc')}}<a class="navbar-item" href="{{relativize url}}">Regional communities of practice</a>{{/with}}
    {{#with (resolvePage 'gnm::data-model.adoc')}}<a class="navbar-item" href="{{relativize url}}">Data model</a>{{/with}}
    {{#with (resolvePage 'gnm::regional-support-teams.adoc')}}<a class="navbar-item" href="{{relativize url}}">Regional support teams</a>{{/with}}   
    {{#with (resolvePage 'gnm::meeting-evaluation.adoc')}}<a class="navbar-item" href="{{relativize url}}">Meeting evaluation</a>{{/with}}      
  </div>
</div>
